<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel='stylesheet' href="/static/style.css">
    <style>
        main{
            width: 600px;
            margin: 0 auto;
            background-color: #f7f7f7;
            border-radius: 1rem;
            padding:1rem;
        }
    </style>
</head>
<body>
<main>
<header>
<nav>
    {% if user %}
        {{user}}
        <a href="/accounts/logout">로그아웃</a>
    {% else %}
        <a href="/accounts/login">로그인</a><a>회원가입</a>
    {% endif %}
</nav>
<a href='/'><h1>성균관 경전소리 보존회</h1></a>
</header>
<ul>
    <li><a href="/about">기관소개</a></li>
    <li><a href="/course">경전성독</a></li>
    <li><a href="/local">지역보존회</a></li>
    <li><a href="/picture">활동사진</a></li>
    <li><a href="/notice">공지사항</a></li>
</ul>
{% block content %}
{% endblock %}
</main>
</body>
</html>