button {
    border-width: 0;
    padding:0.25rem 0.75rem;
    display: inline-flex;
    cursor: pointer;
    border-radius: 3px;
    font-size: 1rem;
}

button.primary{
    color:#fff;
    background-color: rgb(150, 14, 36);
}


textarea, input{
    border-width: 0;
    box-shadow: inset 0 0 0 1px #ccc;
    padding:0.5rem;
    margin-bottom: 0.25rem;
    display: block;
    font: normal 1rem 'Noto Sans';
}

label+input{
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

textarea{
    line-height: 2;
}

/* .board-control-box>button{
    border-radius: 0;
    font-size: 0.75rem;
    padding:0.25rem;
} */