@import "./form.css";

@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('NanumBarunGothic.ttf')  format('truetype');
}

html{
    /* font-size: 18px; */
}

.material-icons{
    vertical-align: top;
}

body{
    font-family: "Nanum Gothic";
    color:rgb(20, 6, 6);
    margin: 0;
    overflow-y: scroll;
}

header{
    border-bottom: 1px solid #ddd;
    padding:1rem 0;
}

a{
    text-decoration: none;
    color:initial;
    cursor: pointer;
}

a:hover{
    color:rgb(45, 147, 255);
}


h1, h2, h3, h4{
    margin: 0;
    font-size: 1.5rem;
}

h4{
    margin-bottom: 1rem;
}


.row{
    display: flex;
    flex-direction: row;
}

.box{
    background-color: #fffbea;
}

.rest{
    flex-grow: 1;
}

.col{
    display: flex;
    flex-direction: column;
}

.p1{
    padding:1rem;
}

.h4{
    height: 3.5rem;
    line-height: 3.5rem;
}

.ai-center{
    align-items: center;
}

.tr{
    text-align: right;
}

.ml1{
    margin-left: 1rem;
}

.tc{
    text-align: center;
}

header nav a:not(:last-child){
    margin-right: 1rem;
}

nav a{
    white-space: nowrap;
}

aside nav a{
    padding:0.5rem;
}

/* aside nav a:not(:last-child){
    margin-bottom: 1rem;
} */

aside .box{
    background-color: #00748e;
}

aside .box a{
    color:#fff;
}

aside .box a:hover{
    background-color: #00596d;
}

#overlay{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    z-index: 1000;
}

.hide{
    display: none;
}

.wrap{
    margin: 0 auto;
    width: 75rem;
}

.fullw{
    width: 100%;
}

.pre{
    white-space: pre;
    overflow: auto;
    line-height: 2;
}

#main-container{
    width: 63rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

#main{
    box-shadow: inset 0 0 0 1px #ece5c6;
    padding:1rem;
    flex-grow: 1;
}